[Unit]
Description=Start Verzeichnisüberwachung (PDF-Umwandlung)
Requires=soffice.service

[Service]
Type=simple
# Benutzer und Gruppe anpassen
User=te
Group=te

# Pfad bei Bedarf anpassen
ExecStart=/bin/bash -c "cd $HOME/lwPDF; exec libreoffice/program/python lwPDFConverter.py"

[Install]
WantedBy=multi-user.target

